@import 'styles/theme';



.checkbox {
    &__input {
        margin-right: 10px;
        cursor: pointer;
    }
    &__title {
        @include font-16;
        color: #333;
        a {
            color: #0075ff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}